@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
:root{
     --bg-color:black;
     --second-bg-color:black;
     --text-color:white;
     --main-color:aqua;
     --big-font:5rem;
     --h2-font:3rem;
     --p-font:1.1 rem;

}
body{
    background-color: dimgrey;
   
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 2px 5%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;

}
.logo{
    color: var(--text-color);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 60px;

}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin:0 20px;
    transition: all .45s ease;
}
.navlist a:hover{
   color: var(--main-color);

}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;

}
section{
   padding: 90px 3% 120px;

}
.home{
    position: relative;
    height:100vh ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
     background-color: darkgray;
}
.slide{
    margin-bottom: 15px;

}
.one{
    display: inline-block;
    margin-right: 13px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--text-color);
    color: aquamarine;
 
}
.two{
    display: inline-block;
    color:royalblue;
    font-size: 20px;
    font-weight: 500;

}
.home-text h1{
 font-size: 40px;
font-weight: 700;
 color: aquamarine;
  line-height: 1.1;
  margin: 0 0 8px;


}
.home-text h3{

     color:aliceblue;
     margin:0 0 35px;
     font-size: 3rem;
     font-weight: 700;
     line-height: 1.1;

}
.button{
     display: inline-block;
     align-items: center;
     justify-content: center;
}
.btn{
     display: inline-block;
     padding: 12px;
   background-color: aliceblue;
     border-radius: 5px;
     color: rgb(16, 135, 238);
     font-size: 1rem;
     font-weight: 500;
     transition: all .45s ease;
}
.btn:hover{
transform: scale(0.9);