@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
   
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;

}
:root{
     --bg-color:black;
     --second-bg-color:black;
     --text-color:white;
     --main-color:aqua;
     --big-font:5rem;
     --h2-font:3rem;
     --p-font:1.1 rem;

}
body{
    background: rgb(10, 15, 24);
   
}
header{
    position: fixed;
    width: 100%;
    top:0;
    right:0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(10, 15, 24);
    padding: 2px 5%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;

}
.logo{
    color: var(--text-color);
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-right: 60px;

}
span{
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin:0 20px;
    transition: all .45s ease;
}
.navlist a:hover{
   color: var(--main-color);

}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;

}
section{
   padding: 90px 3% 120px;

}
.home{
    position: relative;
    height:100vh ;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgb(10, 15, 24);
}
.slide{
    margin-bottom: 15px;

}
.one{
    display: inline-block;
    margin-right: 13px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: var(--text-color);
    color: aquamarine;
 
}
.two{
    display: inline-block;
    color:royalblue;
    font-size: 20px;
    font-weight: 500;

}
.home-text h1{
 font-size: 40px;
font-weight: 700;
 color: aquamarine;
  line-height: 1.1;
  margin: 0 0 8px;


}
.home-text h3{

     color:aliceblue;
     margin:0 0 35px;
     font-size: 3rem;
     font-weight: 700;
     line-height: 1.1;

}
.button{
     display: inline-block;
     align-items: center;
     justify-content: center;
}
.btn{
     display: inline-block;
     padding: 12px;
   background-color: aliceblue;
     border-radius: 5px;
     color: rgb(16, 135, 238);
     font-size: 1rem;
     font-weight: 500;
     transition: all .45s ease;
}
.btn:hover{
transform: scale(0.9);
}
.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 5px;

}
.about-text h2{
    font-size: var(--h2-font);
    line-height: 1;
}
.about-text h4{
     font-size: 24px;
     font-weight: 600;
     color: var(--text-color);
     line-height: 1.7;
     margin: 0 30px;
}
.about-text p{
     color: var(--second-color);
     font-size: var(--p-font);
     font-weight: cursive;
     line-height: 1.7;
     margin-bottom:4rem ;

}






.achievement{
    background: rgb(10, 15, 25);
 }
 .achieve{
    text-align: center;
 }
 .achieve h1{
    font-size: 50px;
    line-height:3;
    color: blueviolet;
    margin-bottom: 30px;
 }
 .achievement-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    gap: 2.6rem;
    margin-top: 5 rem;

 }
 .box{
     padding: 35px 45px;
     border-radius: 3rem;
     transition: all .45s ease;
     background: linear-gradient(to right,blueviolet,aqua,white);
     height: 600px;
 }
 .box2{
    padding: 35px 45px;
    border-radius: 3rem;
    transition: all .45s ease;
    background: linear-gradient(to right,blueviolet,blue);
    height: 600px;
}
.box3{
    padding: 35px 45px;
    border-radius: 3rem;
    transition: all .45s ease;
    background: linear-gradient(to right,green,yellow);
    height: 600px;
}
 
.box h3{
    font-size: 40px;
    font-weight: 600;
    color: rgb(250, 240, 255);
    margin-bottom: 13px;

 }
 .box2 h3{
    font-size: 40px;
    font-weight: 600;
    color: rgb(250, 240, 255);
    margin-bottom: 13px;

 }
 .box3 h3{
    font-size: 40px;
    font-weight: 600;
    color: rgb(250, 240, 255);
    margin-bottom: 13px;

 }
 .box p{
    color: aliceblue;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
 }
 .box2 p{
    color: aliceblue;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
 }
 .box3 p{
    color: aliceblue;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 15px;
 }
 .box:hover{
    transform: translateY(-10px);
    cursor: pointer;
   background: slategrey;
 }
 .box2:hover{
    transform: translateY(-10px);
    cursor: pointer;
   background: slategrey;
 }
 .box3:hover{
    transform: translateY(-10px);
    cursor: pointer;
   background: slategrey;
 }
 .box a{
     margin-top: 120px;
 }
 .box3 a{
    margin-top: 120px;
}
.box2 a{
    margin-top: 2px;
}
 .icons i{
    font-size: 250px;
    color: rgb(42, 161, 165);
    background: white;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 150%;
     border: 2px solid brown;
    margin-left:10%;
   
 }
    





.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    align-items: center;
    gap:5rem;
    margin-top: 5rem;
    margin-left: 0;
}
.row{
    position: relative;
    overflow: hidden;
   
    cursor:pointer;
}
.row img{
    width: 100%;
   
    display:block;
    transition: transform 0.5s;

}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(0,0,0,0,1),aqua;
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    transition: height 0.5s;

}
.layer h5{
    font: 40px;
    font-weight: 600;
    margin-bottom: 15px;

}
.layer p{
    color:var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
   color:var(--main-color);
   margin-top: 20px;
   font-size: 20px;
   background: var(--text-color);
   width: 60px;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
}
.row:hover .layer{
    height: 100%;
}
.portfolio-content{
    background:rgb(94, 35, 35);
    display: grid;
    grid-template-columns: repeat(2,3fr);
    align-items: center;
    gap: 1.5rem;
}
.contact{
    background: rgb(10, 15, 24);
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    
    gap:1.5rem;
}
.contact-text h1{
    color: var(--text-color);
    margin: 5px 0;
    font-size: 70px;
    font-weight: 600;
}
 .contact-text p{
    color: white;
    font-size: 40px;
    line-height: 1.6;
    margin-bottom: 30px;
 }
 .list{
    margin-bottom: 2.5rem;

}
 .list li{
     margin-bottom: 12px;
 }
 .list a{
    display: block;
    color:white;
    font-size: 20px;
    
 }
 .list li a:hover{
    color: var(--text-color);
   
 }
 
 
 .contact-form form{
    position: relative;
 }
 .contact-form form,input,form textarea{
     width: 100%;
     padding: 14px;
     background: rgb(31, 37, 43);
     border-radius: 23px;
     color: var(--text-color);
     border:45px;
    border-color: aqua;
     font-size: 35px;
    
     margin-bottom: 20px;
 }
  .contact-form textarea{
     resize: none;
     height: 240px;

  }
  .contact-form .submit{
    display: inline-block;
    font-size: 26px;
    background: var(--main-color);
    width: 180px;
    transition: all .45s ease;
  }
  .contact-form .submit:hover{
     transform: scale(1.2);
     cursor: pointer;
  }
  .contact-icons{
    height: 450px;
    width:450px;
 
    color:white;
    font-size:55px;
    display: inline ;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    margin-right: 14px;
    transition: all .45s ease;
    position: relative;
    margin-left: 28%;
   margin-top:10px;   
 }
 .contact-icons a{
    padding: 18px;
    font-size: 64px;
 
 }
 .contact-icons a{
    display: inline;
 }
 .contact-icons .icontext{
    position: absolute;
    top: -65px;
   
    transform: translateX(-50%);
    color: blue;
    padding: 5px 2px;
    font-size: 20px;
    border-radius: 1rem;
    border: solid 5px slateblue;
    opacity: 0;

    transition: opacity 0.34s ease;
 }
 .contact-icons a:hover{
    color: blue;
 }
  .contact-icons #instra i:hover{
    color: red;
   }
   .contact-icons #git i:hover{
    color: white;
   }
   .contact-icons #what i:hover{
    color: green;
   }
 .contact-icons a:hover .icontext{
    opacity: 2;
 }
